@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note that there is an odd error with this build. Dynamic use of Tailwind breakpoints 
  (breakpoint inserted via template string) followed by an edit to this file may cause 
  breakpoint utility classes to stop working. This occurred with `hidden ${bp}:block`.

  Also, if a component accepts a class string via an attrs object prop, make sure to 
  assign the classes separately to avoid server/client class clashes, e.g.:
  <div {...attrs.root} className={attrs.root.className}>...</div>
*/

:root {
  --color: white;
  --primary: #000030;
  --secondary: #000050;
  --tertiary: #000070;
  --action-primary: #6e3500;
  --action-primary-hover: #8b4300;
  --action-secondary: #00414d;
  --action-secondary-hover: #005464;
  --action-tertiary: #A3A3FF;
  --action-tertiary-hover: #dadaff;
  --error: red;
  --input-primary: #000000;
  --input-secondary: #222222;
  --pending: #ffff00;
  --stress-primary: #d16500;
  --stress-secondary: #0093ad;
  --stress-tertiary: #4f4fff;
  --success: #04ff00;
  --overlay: rgba(0, 0, 0, 0.7);

  --min-h-topbar: 4rem;
  --h-topbar: 8vh;
}

@layer base {
  a {
    color: var(--action-tertiary);
  }
  
  a:hover {
    color: var(--action-tertiary-hover);
  }

  input::placeholder {
    color: #dbdbdb;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }
  
  main {
    @apply w-full;
  }
}

@layer components { 
  .btn-primary {
    @apply flex gap-2 justify-center px-3 py-2 rounded-xl border-2 bg-action-primary hover:bg-action-primary-hover border-stress-primary text-color hover:text-color;
  }

  .btn-secondary {
    @apply flex gap-2 justify-center px-3 py-2 rounded-xl border-2 bg-action-secondary hover:bg-action-secondary-hover border-stress-secondary text-color hover:text-color;
  }

  .column-view {
    @apply w-full sm:w-4/5 md:w-3/4 lg:w-3/5 xl:w-1/2;
  }

  .multi-column-view-3 {
    @apply columns-2 md:columns-3;
  }

  .multi-column-view-4 {
    @apply columns-2 md:columns-3 xl:columns-4;
  }
}

@layer utilities {
  .bg-gone {
    background: none;
  }
}